html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff url(bakgrunn.jpg) repeat ;
    background-size: 25rem;
    -webkit-animation-name: scrollInfinite;
    animation-name: scrollInfinite;
    animation: scrollInfinite 7999999s linear infinite;
}


@-webkit-keyframes scrollInfinite {
    from {background-position: 0 0;}
    to {background-position: 0 99999999%;}
}

/* Standard syntax */
@keyframes scrollInfinite {
    from {background-position: 0 0;}
    to {background-position: 0 99999999%;}
}