html,body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  width: 100%;
  height: 100%;
}

body {
    background-image: url(bakgrunn.jpg);
    -webkit-animation-name: example;
    animation-name: example;
    background-repeat: repeat;
    animation: example 10s linear infinite;
}


@-webkit-keyframes example {
    from {background-position: 0 0;}
    to {background-position: 0 100%;}
}

/* Standard syntax */
@keyframes example {
    from {background-position: 0 0;}
    to {background-position: 0 100%;}
}
